:host {
    display: grid;
    grid-template-columns: 250px var(--editor-width) auto;
    grid-template-areas: "file-explorer editor vm";

    padding: 0.5em;
}

.file-explorer {
    grid-area: file-explorer;
}

.editor {
    grid-area: editor;
    display: flex;
}

.vm {
    grid-area: vm;

    display: grid;
    grid-template-rows: var(--ui-blade-height) auto var(--ui-blade-height);
    grid-template-areas: "top"
                         "content"
                         "handle";
}