.cmd__bar {
    display: flex;
    justify-content: flex-start;

    margin-right: var(--ui-cmd-bar-margin-right);
    margin-left: var(--ui-cmd-bar-margin-left);
    margin-top: var(--ui-cmd-bar-margin-top);
    margin-bottom: var(--ui-cmd-bar-margin-bottom);
}


.cmd__bar-vertical {
    flex-direction: column;

}

.cmd__bar-horizontal {
    flex-direction: row;
    height: var(--ui-cmd-bar-height);
}

.cmd__button {
    background-color: var(--ui-primary-color);
    color: var(--ui-on-primary-color);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.cmd__button-horizontal {
    font-size: calc(var(--ui-cmd-bar-height) * .75);
    padding-left: calc(var(--ui-cmd-bar-height) * .25);
    padding-right: calc(var(--ui-cmd-bar-height) * .25);
    padding-bottom: calc(var(--ui-cmd-bar-height) * .1);
}

.cmd__button-vertical {
    font-size: calc(var(--ui-cmd-bar-height) * .33);
    padding-left: calc(var(--ui-cmd-bar-height) * .05);
    padding-right: calc(var(--ui-cmd-bar-height) * .06);
    padding-bottom: calc(var(--ui-cmd-bar-height) * .01);
}

.cmd__button-vertical-u1 {
    height: var(--ui-cmd-bar-height);
}

.cmd__button-vertical-u2 {
    height: calc(var(--ui-cmd-bar-height) * 2);
}

.cmd__button-vertical-u3 {
    height: calc(var(--ui-cmd-bar-height) * 3);
}

.cmd__button:hover {
    background-color: var(--ui-secondary-color);
    color: var(--ui-on-secondary-color);
    cursor: pointer;
}