@import '../variables.scss';

:host {
    --ui-primary-color: var(--primary-color);
    --ui-secondary-color: var(--secondary-color);
    --ui-background-color: var(--background-color);

    --ui-on-primary-color: var(--on-primary-color);
    --ui-on-secondary-color: var(--on-secondary-color);
    --ui-on-background-color: var(--on-background-color);

    --ui-blade-height: 2rem;
    --ui-handle-height: calc(var(--ui-blade-height) / 1.75);
    --ui-handle-cap-rad: .5rem;
    --ui-handle-title-pad: 2rem;
    --ui-seperator-width: .25rem;
    --ui-handle-title-button-spacing: .5rem;

    height: 100vh;
    padding: .25em;
    display: flex;
    flex-direction: column;
}

.expand {
    flex: 1;
}