@import '../variables.scss';

:host {
    --ui-primary-color: var(--primary-color);
    --ui-secondary-color: var(--secondary-color);
    --ui-background-color: var(--background-color);

    --ui-on-primary-color: var(--on-primary-color);
    --ui-on-secondary-color: var(--on-secondary-color);
    --ui-on-background-color: var(--on-background-color);

    --ui-blade-height: 2.5rem;
    --ui-blade-input-width: 16rem;

    --ui-handle-height: calc(var(--ui-blade-height) / 1.75);
    --ui-handle-cap-rad: .5rem;
    --ui-handle-title-pad: 2rem;
    --ui-spacer-size: .25rem;
    --ui-handle-title-button-spacing: .5rem;
    --ui-title-size: 50%;

    --ui-cmd-bar-margin-right: 0;
    --ui-cmd-bar-margin-left: 0;
    --ui-cmd-bar-margin-top: 0;
    --ui-cmd-bar-margin-bottom: 0;

    --ui-title-margin-right: 0;
    --ui-title-margin-left: 0;
    --ui-title-margin-top: 0;
    --ui-title-margin-bottom: 0;


    height: 100vh;
    padding: .25em;
    display: flex;
    flex-direction: column;
}

.expand {
    flex: 1;
}