<div class="handle"
     [class.handle__reverse]="this.hdir === 'right'">
  <div [ngClass]="this.handleBarClasses"
       [class.handle__reverse-content]="this.hdir === 'right'">

    <div *ngIf="this.title"
         class="handle__text">
      <div class="handle__seperator"></div>
      <span>{{this.title}}</span>
      <div class="handle__seperator"></div>
    </div>
    <div *ngIf="this.title"
         class="handle__seperator-button"></div>
    <ui-cmd-bar *ngIf="this.commands"
                layout="horizontal"
                [commands]="this.commands"
                (commandClickedEvent)="this.commandClicked($event)"></ui-cmd-bar>
  </div>
  <div class="handle__transition">
    <div [ngClass]="this.handleTransitionCornerClasses">
    </div>
  </div>
</div>