<div class="handle"
     [class.handle__reverse]="this.hdir === 'right'">
  <div [ngClass]="this.handleBarClasses"
       [class.handle__reverse-content]="this.hdir === 'right'">

    <ui-title [title]="this.title"
              [editable]="this.editable"
              [hdir]="this.hdir"></ui-title>
    <ui-cmd-bar *ngIf="this.commands"
                layout="horizontal"
                [commands]="this.commands"
                (commandClickedEvent)="this.commandClicked($event)"></ui-cmd-bar>
  </div>
  <div class="handle__transition">
    <div [ngClass]="this.handleTransitionCornerClasses">
    </div>
  </div>
</div>