:host {
    display: flex;
    flex-direction: column;
}

.pane {
    flex: 1;
}

.space-bottom {
    margin-bottom: .25em;
}

.space-top {
    margin-top: .25em;
}

.editor__top-blade {
    --ui-cmd-bar-margin-right: 3rem;
    --ui-title-margin-left: 1em;
    --ui-title-size: 22rem;
}