<ui-blade hdir="left"
          vdir="top"
          title="test.asm"
          [editable]="true"
          [commands]="this.fileCommands"
          (commandClickedEvent)="this.handleButton($event)"
          class="editor__top-blade space-bottom"></ui-blade>
<textarea #editorPane></textarea>
<ui-blade hdir="right"
          vdir="bottom"
          [commands]="this.vmCommands"
          (commandClickedEvent)="this.handleButton($event)"
          class="editor__bottom-blade space-top"></ui-blade>