<ui-handle title="Programs"
           hdir="left"
           vdir="top"></ui-handle>
<div class="explorer">
  <div class="explorer__row">
    <ui-blade  class="explorer__gutter"
               hdir="right"
               vdir="top"></ui-blade>
    <ui-handle class="explorer__content"
               hdir="right"
               vdir="top"></ui-handle>
  </div>
  <div class="explorer__row explorer__row-expand">
    <ui-cmd-bar class="explorer__gutter explorer__gutter-fill"
                layout="vertical"
                [commands]="this.commands"
                (commandClickedEvent)="this.handleButton($event)"></ui-cmd-bar>
    <ul class="explorer__items explorer__content">
      <li *ngFor="let file of files"
          [class.active]="file.id === activeFileId"
          class="explorer__item">

        <button class="explorer__item-content"
             (click)="activateFile(file.id)">
          <svg class="explorer__icon">
            <use xlink:href="assets/open-iconic.min.svg#file" class="icon-close"></use>
          </svg>
          <span class="left-margin">{{file.name}}</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="explorer__row">
    <ui-blade  class="explorer__gutter"
               hdir="right"
               vdir="bottom"></ui-blade>
    <ui-handle class="explorer__content"
               hdir="right"
               vdir="bottom"></ui-handle>
  </div>
</div>