@import '../../../../../variables.scss';

:host {
    display: grid;

    grid-template-rows: var(--ui-blade-height)
                        auto
                        var(--ui-blade-height);
    grid-template-areas: "handle"
                         "explorer"
                         "footer";
}

.explorer {
    --ui-blade-height: 1.25rem;
    --ui-handle-height: calc(var(--ui-blade-height) / 2);
    --ui-handle-cap-rad: .1rem;

    --ui-primary-color: var(--secondary-color);
    --ui-on-primary-color: var(--on-secondary-color);
    --ui-secondary-color: var(--primary-color);
    --ui-on-secondary-color: var(--on-primary-color);

    grid-area: explorer;

    display: flex;
    flex-direction: column;
    margin-right: .75em;
}

.explorer__header {
    --ui-blade-height: 1.5rem;
    --ui-handle-height: calc(var(--ui-blade-height) / 1.5);

}

.explorer__row {
    display: flex;
}

.explorer__row-expand {
    height: 500px;
}

.explorer__gutter {
    flex: .05;
}

.explorer__gutter-fill {
    background-color: var(--primary-color);
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.explorer__content {
    --ui-background-color: var(--surface-color);
    --ui-on-background-color: var(--on-surface-color);
    background-color: var(--surface-color);
    color: var(--on-surface-color);
    flex: 1;
    cursor: inherit;
}

.explorer__content-header {
    grid-area: header;
}

.explorer__content-body {
    grid-area: body;
}

.explorer__content-footer {
    grid-area: footer;
}

.explorer__items {
    overflow-y: auto;
    cursor: pointer;
}

.explorer__item {
    padding: .1em;
    display: flex;
    align-items: center;
    fill: var(--ui-primary-color);
    cursor: inherit;
}

.explorer__item.active {
    background-color: var(--ui-secondary-color);
    color: var(--ui-on-secondary-color);
    fill: var(--ui-on-secondary-color);
    cursor: inherit;
}

.explorer__item:hover {
    background-color: var(--ui-secondary-color);
    cursor: inherit;
}

.explorer__item-content {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .1em;
    font-size: .75em;
    cursor: inherit;
}

.explorer__item-content:hover {
    color: var(--ui-on-secondary-color);
    fill: var(--ui-on-secondary-color);
    cursor: inherit;
}

.explorer__icon {
    height: 1em;
    width: 1em;
}

.explorer__btn-success {
   fill: $action-success;
}

.explorer__btn-success:hover {
   fill: lighten($action-success, 10%);
   cursor: pointer;
}

.explorer__btn-danger {
   fill: $action-danger;
}

.explorer__btn-danger:hover {
   fill: lighten($action-danger, 10%);
   cursor: pointer;
}